body {
    font-family: Times New Roman, sans-serif;
    background-color: cornsilk;
}

.container-main {
    background-color: cornsilk;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

h1 {
    color: #333;
}

.card {
    height: 100%;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}
