<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: "Times New Roman", sans-serif;
            background-color: white;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{{ url_for('static', filename='logo/logo.svg') }}" height="50">
        <a class="navbar-brand">StudentRent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.profile') }}">Мій профіль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('apartment.my_apartments') }}">Мої оголошення</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.search') }}">Пошук</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('apartment.new_apartment') }}">Створити оголошення</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.logout') }}">Вихід</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<br>
</body>
</html>
