{% block content %}
<h2>Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('main.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <p>Don't have an account? <a href="{{ url_for('main.register') }}">Register here</a>.</p>

{% endblock %}