{% extends "base.html" %}

{% block title %}Профіль{% endblock %}

{% block content %}

<style>
    body {
        font-family: 'Times New Roman', sans-serif;
        background-color: cornsilk;
    }

    .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
    }

    .card {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .card-body {
        padding: 20px;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
    }

    .img-fluid.rounded-circle {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .comment, .liked-apartments {
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <h1>Ваш профіль</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row mb-4">
        <div class="col-md-4 text-center">
            {% if current_user.UserImage %}
            <img src="{{ url_for('static', filename='profile_pic/' + current_user.UserImage) }}"
                 class="img-fluid rounded-circle" alt="Profile Image">
            {% else %}
            <img src="{{ url_for('static', filename='profile_pic/default.jpg') }}" class="img-fluid rounded-circle"
                 alt="Profile Image">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3>{{ current_user.Name }}</h3>
            <p><strong>Номер телефону:</strong> {{ current_user.PhoneNumber }}</p>
            <p><strong>Електронна пошта:</strong> {{ current_user.Email }}</p>
            <p><strong>Тип користувача:</strong> {{ current_user.UserType }}</p>
            <p><strong>Статус студента:</strong> {{ current_user.IsStudent }}</p>
        </div>
    </div>

    <hr>
    <h3>Редагування профілю</h3>
    <div class="registration-rules">
        <ul>
            <li>Ім'я має складатися з двох слів, кожне з яких починається з великої літери (наприклад, Микола
                Мельник).
            </li>
            <li>Номер телефону має бути вірним, починатися зі знаку "+" і містити 12 цифр (наприклад, +380123456789).
            </li>
            <li>Пароль має включати як букви, так і цифри.</li>
        </ul>
    </div>

    <form method="POST" action="{{ url_for('main.profile') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="name">Ім'я:</label>
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="phone_number">Номер телефону:</label>
            {{ form.phone_number(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="user_type">Тип користувача:</label>
            {{ form.user_type(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="password">Новий пароль:</label>
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="confirm_password">Підтвердження паролю:</label>
            {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="profile_image">Фото профілю:</label>
            {{ form.profile_image(class="form-control-file") }}
        </div>
        <button type="submit" class="btn btn-primary">Зберегти зміни</button>
    </form>

    <hr>
    <h2>Коментарі</h2>
    <div class="comments">
        {% for comment in comments_received %}
        <div class="comment card">
            <div class="card-body">
                <p><strong>Від: <a href="{{ url_for('main.user_comments', user_id=comment.author.UserID) }}">{{
                    comment.author.Name }}</a></strong></p>
                <p>{{ comment.Content }}</p>
                <p><strong>Оцінка:</strong> {{ comment.Rating }}</p>
                <p><strong>Викладено:</strong> {{ comment.DateAdded.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </div>
        </div>
        {% else %}
        <p>Коментарі відсутні</p>
        {% endfor %}
    </div>

    <hr>
    <h2>Збережені</h2>
    <div class="liked-apartments">
        <div class="row">
            {% for apartment in liked_apartments %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='apartment_pic/' + apartment.images[0].ImageURL) }}"
                         class="card-img-top" alt="Apartment Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ apartment.Type }} в місті {{ apartment.City }}</h5>
                        <p class="card-text"><strong>Вулиця:</strong> {{ apartment.Street }}</p>
                        <p class="card-text"><strong>Ціна:</strong> {{ apartment.Price }} грн. на місяць</p>
                        <a href="{{ url_for('apartment.view_apartment', apartment_id=apartment.ApartmentId) }}"
                           class="btn btn-primary">Переглянути</a>
                    </div>
                </div>
            </div>
            {% else %}
            <p>Збережені відсутні</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}