{% block content %}
<div class="container">
    <h1>Ваш профіль</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-4">
            {% if current_user.UserImage %}
            <img src="{{ url_for('static', filename='profile_pic/' + current_user.UserImage) }}"
                 class="img-fluid rounded-circle" alt="Profile Image">
            {% else %}
            <img src="{{ url_for('static', filename='profile_pic/default.jpg') }}" class="img-fluid rounded-circle"
                 alt="Profile Image">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3>{{ current_user.Name }}</h3>
            <p>Номер телефону: {{ current_user.PhoneNumber }}</p>
            <p>Електронна пошта: {{ current_user.Email }}</p>
            <p>Тип користувача: {{ current_user.UserType }}</p>
            <p>Статус студента: {{ current_user.IsStudent }}</p>
        </div>
    </div>

    <hr>
    <h3>Редагування профілю</h3>
    <div class="registration-rules">
        <ul>
            <li>Ім'я має складатися з двох слів, кожне з яких починається з великої літери (наприклад, Микола Мельник).
            </li>
            <li>Номер телефону має бути вірним, починатися зі знаку "+" і містити 12 цифр (наприклад, +380123456789).
            </li>
            <li>Пароль має включати як букви, так і цифри.</li>
        </ul>
    </div>

    <form method="POST" action="{{ url_for('main.profile') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <p>Ім'я: </p> {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            <p>Номер телефону: </p> {{ form.phone_number(class="form-control") }}
        </div>
        <div class="form-group">
            <p>Тип користувача: </p> {{ form.user_type(class="form-control") }}
        </div>
        <div class="form-group">
            <p>Новий пароль: </p> {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            <p>Підтвердження паролю: </p> {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="form-group">
            <p>Фото профілю: </p> {{ form.profile_image(class="form-control-file") }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Зберегти зміни</button>
    </form>

    <hr>

    <h2>Коментарі</h2>
    <div class="comments">
        {% for comment in comments_received %}
        <div class="comment">
            <p>{{ comment.Content }}</p>
            <p>Оцінка: {{ comment.Rating }}</p>
            <p>Ім'я: {{ comment.author.Name }}</p>
            <p>Викладено: {{ comment.DateAdded }}</p>
        </div>
        {% else %}
        <p>Коментарі відсутні</p>
        {% endfor %}
    </div>

    <hr>

    <h2>Збережені</h2>
    <div class="liked-apartments">
        <div class="row">
            {% for apartment in liked_apartments %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='apartment_pic/' + apartment.images[0].ImageURL) }}"
                         class="card-img-top" alt="Apartment Image">
                    <div class="card-body">
                        <h3>{{ apartment.Type }} в місті {{ apartment.City }}, на вулиці {{ apartment.Street }}</h3>
                        <p class="card-text">Ціна: {{ apartment.Price }}</p>
                        <p class="card-text">Кількість кімнат: {{ apartment.RoomCount }}</p>
                        <p class="card-text">Статус житла: {{ apartment.IsRented }}</p>
                        <a href="{{ url_for('apartment.view_apartment', apartment_id=apartment.ApartmentId) }}"
                           class="btn btn-primary">Переглянути</a>
                    </div>
                </div>
            </div>
            <br><br><br>
            {% else %}
            <p>Збережені відсутні</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
