{% block content %}
<h1>Реєстрація</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="registration-rules">
    <ul>
        <li>Ім'я має складатися з двох слів, кожне з яких починається з великої літери (наприклад, Микола Мельник).
        </li>
        <li>Номер телефону має бути вірним, починатися зі знаку "+" і містити 12 цифр (наприклад, +380123456789).
        </li>
        <li>Пароль має включати як букви, так і цифри.</li>
    </ul>
</div>
<form method="POST" action="{{ url_for('main.register') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <strong>Електронна пошта: </strong> {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        <strong>Пароль: </strong> {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        <strong>Підтвердження паролю:</strong> {{ form.confirm_password(class="form-control") }}
    </div>
    <div class="form-group">
        <strong>Ім'я: </strong> {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        <strong>Номер телефону: </strong> {{ form.phone_number(class="form-control") }}
    </div>
    <div class="form-group">
        <strong>Тип користувача: </strong> {{ form.user_type(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Реєстрація</button>
</form>

{% endblock %}
