{% block content %}
<div class="container">
    <h1>Редагування оголошення</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('apartment.edit_apartment', apartment_id=apartment.ApartmentId) }}"
          enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <strong>Тип житла: </strong>
            {{ form.type(class="form-control") }}
            {% for error in form.type.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Місто: </strong>
            {{ form.city(class="form-control") }}
            {% for error in form.city.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Вулиця:</strong>
            {{ form.street(class="form-control") }}
            {% for error in form.street.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Номер будинку:</strong>
            {{ form.house_num(class="form-control") }}
            {% for error in form.house_num.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Номер квартири (за наявності):</strong>
            {{ form.flat_num(class="form-control") }}
            {% for error in form.flat_num.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Ціна:</strong>
            {{ form.price(class="form-control") }}
            {% for error in form.price.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Кількість кімнат:</strong>
            {{ form.room_count(class="form-control") }}
            {% for error in form.room_count.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Опис:</strong>
            {{ form.description(class="form-control") }}
            {% for error in form.description.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Комфорт:</strong>
            {{ form.comfort(class="form-control") }}
            {% for error in form.comfort.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Інфраструктура:</strong>
            {{ form.infrastructure(class="form-control") }}
            {% for error in form.infrastructure.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Ремонт:</strong>
            {{ form.renovation(class="form-control") }}
            {% for error in form.renovation.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Побутова техніка:</strong>
            {{ form.appliances(class="form-control") }}
            {% for error in form.appliances.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Максимальна кількість жителів:</strong>
            {{ form.max_residents(class="form-control") }}
            {% for error in form.max_residents.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Проживає тепер:</strong>
            {{ form.current_residents(class="form-control") }}
            {% for error in form.current_residents.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <strong>Статус житла:</strong>
            {{ form.is_rented(class="form-control") }}
            {% for error in form.is_rented.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="current_images">Наявні фото:</label>
            <ul>
                {% for image in apartment.apartment_images %}
                <li>
                    <img src="{{ url_for('static', filename='apartment_pic/' + image.ImageURL.split('/')[-1]) }}"
                         alt="Apartment Image" style="width: 100px;">
                    <input type="checkbox" name="deleted_images" value="{{ image.ImageID }}"> Delete
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            <strong>Фото:</strong>
            {{ form.images(class="form-control-file", multiple="multiple") }}
            {% for error in form.images.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <small class="form-text text-muted">Upload additional images (optional).</small>
        </div>

        <button type="submit" name="submit" class="btn btn-primary">Оновити</button>
    </form>

    <form method="POST" action="{{ url_for('apartment.delete_apartment', apartment_id=apartment.ApartmentId) }}">
        {{ form.csrf_token }}
        <button type="submit" class="btn btn-danger">Видалити оголошення</button>
    </form>

    <div class="container">
        <h2>Співмешканці</h2>
        {% if apartment.roommates|length > 0 %}
        <ul>
            {% for roommate in apartment.roommates %}
            <li>
                <p>Ім'я: {{ roommate.user.Name }}</p>
                <p>Електронна пошта: {{ roommate.user.Email }}</p>
                <form method="POST"
                      action="{{ url_for('apartment.delete_roommate', apartment_id=apartment.ApartmentId, roommate_id=roommate.RoommateID) }}"
                      style="display: inline;">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-danger">Видалити жителя</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Жителі відсутні</p>
        {% endif %}
    </div>

    <div class="container">
        <h3>Додати співмешканця</h3>
        <form method="POST" action="{{ url_for('apartment.edit_apartment', apartment_id=apartment.ApartmentId) }}">
            {{ add_roommate_form.hidden_tag() }}
            <div class="form-group">
                <strong>Введіть електронну пошту:</strong>
                {{ add_roommate_form.email(class="form-control") }}
                {% for error in add_roommate_form.email.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary" name="add_roommate">Додати співмешканця</button>
        </form>
    </div>
</div>
{% endblock %}
