{% block content %}
  <h1>Профіль користувача: {{ user.Name }}</h1>

  <div>
    <p>Електронна пошта: {{ user.Email }}</p>
    <p>Номер телефону: {{ user.PhoneNumber or 'Not provided' }}</p>
    <p>Тип користувача: {{ user.UserType }}</p>

    {% if user.UserImage %}
      <img src="{{ url_for('static', filename='profile_pic/' + user.UserImage) }}" alt="Profile Image" class="profile-image">
    {% else %}
      <p>No profile image available.</p>
    {% endif %}

      <h2>Оголошення користувача</h2>
    {% if user.apartments|length > 0 %}
      <ul>
        {% for apartment in user.apartments %}
          <li>
            <h1>{{ apartment.Type }} в місті {{ apartment.City }}, на вулиці {{ apartment.Street }}</h1>
            <p>Місто: {{ apartment.City }}</p>
            <p>Вулиця: {{ apartment.Street }}</p>
            <p>Номер будинку: {{ apartment.HouseNum }}</p>
            <p>Ціна: {{ apartment.Price }}</p>
            <p>Статус: {{ apartment.IsRented }}</p>
            <p>Дата створення: {{ apartment.CreationDate.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p>Дата останнього оновлення: {{ apartment.LastUpdated.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p>Число збережених: {{ apartment.FavoriteCount }}</p>
            {% if apartment.apartment_images|length > 0 %}
              <img src="{{ url_for('static', filename='apartment_pic/' + apartment.apartment_images[0].ImageURL) }}" alt="Apartment Image" class="apartment-image">
            {% else %}
              <p>Фото відсутні</p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Оголошення відсутні</p>
    {% endif %}

    <h2>Коментарі</h2>
    {% if user.comments_received|length > 0 %}
      <ul>
        {% for comment in user.comments_received %}
          <li>
            <p>Від: {{ comment.author.Name }}</p>
            <p>{{ comment.Content }}</p>
            <p>Оцінка: {{ comment.Rating }}</p>
            <p>Викладено: {{ comment.DateAdded.strftime('%Y-%m-%d %H:%M:%S') }}</p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Коментарі відсутні</p>
    {% endif %}

    {% if current_user.is_authenticated %}
      <h2>Додати коментар</h2>
      <form method="POST" action="{{ url_for('main.user_comments', user_id=user.UserID) }}">
        {{ comment_form.hidden_tag() }}
        <div class="form-group">
          <p>Коментар:</p>
          {{ comment_form.Content(class="form-control", rows="3") }}
        </div>
        <div class="form-group">
          <p>Оцінка:</p>
          {{ comment_form.Rating(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Підтвердити</button>
      </form>
    {% else %}
      <p>Please <a href="{{ url_for('login') }}">log in</a> to leave a comment.</p>
    {% endif %}
  </div>
{% endblock %}